@font-face {
  font-family: 'NeueLight';
  src: local('NeueLight'), url(./fonts/HelveticaNeue\ Light.ttf);
}

@font-face {
  font-family: 'NeueBold';
  src: local('NeueBold'), url(./fonts/FontsFree-Net-HelveticaNeueBold.ttf);
}

body {
  margin: 0;
  font-family: 'NeueLight';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #67899C;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-family: 'NeueBold';
  color: #67899C;
}
.blue {
  color: #67899C !important;
}

.btn-color {
  font-family: 'NeueLight';
  color: #67899C !important;
  background-color: #ADDC91 !important;
}